<ion-header>

  <ion-navbar>
    <ion-title>{{ 'Address Book' | translate }}</ion-title>
    <ion-buttons *ngIf="!isEmptyList" right>
      <button ion-button (click)="addEntry()">
        {{'Add' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="zero-state" *ngIf="isEmptyList">
    <ion-icon class="zero-state-icon">
      <img class="svg" src="assets/img/address-book-add.svg" />
    </ion-icon>
    <div class="zero-state-heading" translate>No contacts yet</div>
    <div class="zero-state-description" translate>Get started by adding your first one.</div>
    <button ion-button class="button-standard" (click)="addEntry()">
      {{'Add Contact' | translate}}
    </button>
  </div>

  <div *ngIf="!isEmptyList">
    <ion-searchbar placeholder="{{'Search a contact' | translate}}" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <button class="contact" ion-item *ngFor="let entry of filteredAddressbook" (click)="viewEntry(entry)">
         <ion-icon class="item-img" item-start>
         <img *ngIf="entry.coin == 'Safecoin (SAFE)'" src="assets/img/icon-safecoin.png"
           class="icon-wallet" />
         <img *ngIf="entry.coin == 'BitcoinZ (BTCZ)'" src="assets/img/icon-bitcoinz.png"
           class="icon-wallet" />
         <img *ngIf="entry.coin == 'Zelcash (ZEL)'" src="assets/img/icon-zelcash.png"
           class="icon-wallet" />
         <img *ngIf="entry.coin == 'Horizen (ZEN)'" src="assets/img/icon-zen.png"
           class="icon-wallet" />
         <img *ngIf="entry.coin == 'Ravencoin (RVN)'" src="assets/img/icon-ravencoin.png"
           class="icon-wallet" />
         <img *ngIf="entry.coin == 'Litecoin (LTC)'" src="assets/img/icon-litecoin.png"
           class="icon-wallet" />
         <img *ngIf="entry.coin == 'Bitcoin (BTC)'" src="assets/img/icon-bitcoin.svg"
           class="icon-wallet" />
        </ion-icon>
        <div>
          <div clss="item-title">{{ entry.name }}</div>
          <div class="item-subtitle">{{ entry.address }}</div>
        </div>
      </button>
    </ion-list>
  </div>
</ion-content>